<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>TRIEDA</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:META-INF/spring/applicationContext*.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>campiServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.CampiServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>campiProfessoresServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.CampiProfessoresServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>turnosServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.TurnosServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>unidadesServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.UnidadesServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>salasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.SalasServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>gruposSalasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.GruposSalasServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>cursosServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.CursosServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>disciplinasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.DisciplinasServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>equivalenciasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.EquivalenciasServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>matrizesCurricularesServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.MatrizesCurricularesServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>matrizCurricularDisciplinasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.MatrizCurricularDisciplinasServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>cursosCampiServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.CursosCampiServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>professoresServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.ProfessoresServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>professoresDisciplinasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.ProfessoresDisciplinasServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>demandasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.DemandasServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>divisoesCreditosServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.DivisoesCreditosServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>horariosAulaServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.HorariosAulaServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>areasTitulacaoServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.AreasTitulacaoServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>semanasLetivaServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.SemanasLetivaServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>campiServlet</servlet-name>
		<url-pattern>/trieda/campi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>campiProfessoresServlet</servlet-name>
		<url-pattern>/trieda/campiProfessores</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>turnosServlet</servlet-name>
		<url-pattern>/trieda/turnos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>unidadesServlet</servlet-name>
		<url-pattern>/trieda/unidades</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>salasServlet</servlet-name>
		<url-pattern>/trieda/salas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>gruposSalasServlet</servlet-name>
		<url-pattern>/trieda/gruposSalas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cursosServlet</servlet-name>
		<url-pattern>/trieda/cursos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>disciplinasServlet</servlet-name>
		<url-pattern>/trieda/disciplinas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>equivalenciasServlet</servlet-name>
		<url-pattern>/trieda/equivalencias</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>matrizesCurricularesServlet</servlet-name>
		<url-pattern>/trieda/matrizesCurriculares</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>matrizCurricularDisciplinasServlet</servlet-name>
		<url-pattern>/trieda/matrizCurricularDisciplinas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cursosCampiServlet</servlet-name>
		<url-pattern>/trieda/cursosCampi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>professoresServlet</servlet-name>
		<url-pattern>/trieda/professores</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>professoresDisciplinasServlet</servlet-name>
		<url-pattern>/trieda/professoresDisciplinas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>demandasServlet</servlet-name>
		<url-pattern>/trieda/demandas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>divisoesCreditosServlet</servlet-name>
		<url-pattern>/trieda/divisoesCreditos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>horariosAulaServlet</servlet-name>
		<url-pattern>/trieda/horariosAula</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>areasTitulacaoServlet</servlet-name>
		<url-pattern>/trieda/areasTitulacao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>semanasLetivaServlet</servlet-name>
		<url-pattern>/trieda/semanasLetiva</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>trieda.html</welcome-file>
	</welcome-file-list>

</web-app>
