<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app id="WebApp_ID">

	<display-name>web</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:META-INF/spring/applicationContext*.xml</param-value>
	</context-param>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
   	<filter>
		<filter-name>OpenEntityManagerInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter>
	
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	<filter-mapping>
		<filter-name>OpenEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>otimizarServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.OtimizarServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>cenariosServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.CenariosServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>campiServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.CampiServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>turnosServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.TurnosServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>unidadesServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.UnidadesServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>salasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.SalasServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>gruposSalasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.GruposSalasServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>cursosServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.CursosServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>tiposCursosServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.TiposCursosServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>disciplinasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.DisciplinasServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>curriculosServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.CurriculosServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ofertasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.OfertasServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>demandasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.DemandasServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>horariosAulaServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.HorariosAulaServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>areasTitulacaoServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.AreasTitulacaoServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>semanasLetivaServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.SemanasLetivaServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>atendimentosServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.AtendimentosServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>divisoesCreditosServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.DivisoesCreditosServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>professoresServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.ProfessoresServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>professoresDisciplinaServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.ProfessoresDisciplinaServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>equivalenciasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.EquivalenciasServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>fixacoesServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.FixacoesServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>exportExcelServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.excel.exp.ExportExcelServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>importExcelServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.excel.imp.ImportExcelServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>usuariosServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.UsuariosServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uniquesServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.UniquesServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>alunosDemandaServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.AlunosDemandaServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>alunosServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.AlunosServiceImpl</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>disponibilidadesServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.DisponibilidadesServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>instituicaoEnsinoServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.InstituicaoEnsinoServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>progressReportServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.ProgressReportServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>otimizarServlet</servlet-name>
		<url-pattern>/trieda/otimizar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cenariosServlet</servlet-name>
		<url-pattern>/trieda/cenarios</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>campiServlet</servlet-name>
		<url-pattern>/trieda/campi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>turnosServlet</servlet-name>
		<url-pattern>/trieda/turnos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>unidadesServlet</servlet-name>
		<url-pattern>/trieda/unidades</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>salasServlet</servlet-name>
		<url-pattern>/trieda/salas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>gruposSalasServlet</servlet-name>
		<url-pattern>/trieda/gruposSalas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cursosServlet</servlet-name>
		<url-pattern>/trieda/cursos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>tiposCursosServlet</servlet-name>
		<url-pattern>/trieda/tiposCursos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>disciplinasServlet</servlet-name>
		<url-pattern>/trieda/disciplinas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>curriculosServlet</servlet-name>
		<url-pattern>/trieda/curriculos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ofertasServlet</servlet-name>
		<url-pattern>/trieda/ofertas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>demandasServlet</servlet-name>
		<url-pattern>/trieda/demandas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>horariosAulaServlet</servlet-name>
		<url-pattern>/trieda/horariosAula</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>areasTitulacaoServlet</servlet-name>
		<url-pattern>/trieda/areasTitulacao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>semanasLetivaServlet</servlet-name>
		<url-pattern>/trieda/semanasLetiva</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>atendimentosServlet</servlet-name>
		<url-pattern>/trieda/atendimentos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>divisoesCreditosServlet</servlet-name>
		<url-pattern>/trieda/divisoesCreditos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>professoresServlet</servlet-name>
		<url-pattern>/trieda/professores</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>professoresDisciplinaServlet</servlet-name>
		<url-pattern>/trieda/professoresDisciplina</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>equivalenciasServlet</servlet-name>
		<url-pattern>/trieda/equivalencias</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fixacoesServlet</servlet-name>
		<url-pattern>/trieda/fixacoes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>exportExcelServlet</servlet-name>
  		<url-pattern>/trieda/exportExcelServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>importExcelServlet</servlet-name>
  		<url-pattern>/trieda/importExcelServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>usuariosServlet</servlet-name>
  		<url-pattern>/trieda/usuarios</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>uniquesServlet</servlet-name>
  		<url-pattern>/trieda/uniques</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>cenariosServlet</servlet-name>
		<url-pattern>/professor/cenarios</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>professoresServlet</servlet-name>
		<url-pattern>/professor/professores</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>usuariosServlet</servlet-name>
  		<url-pattern>/professor/usuarios</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>campiServlet</servlet-name>
  		<url-pattern>/professor/campi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>professoresDisciplinaServlet</servlet-name>
		<url-pattern>/professor/professoresDisciplina</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>disciplinasServlet</servlet-name>
		<url-pattern>/professor/disciplinas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>turnosServlet</servlet-name>
		<url-pattern>/professor/turnos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>atendimentosServlet</servlet-name>
		<url-pattern>/professor/atendimentos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>semanasLetivaServlet</servlet-name>
		<url-pattern>/professor/semanasLetiva</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uniquesServlet</servlet-name>
		<url-pattern>/professor/uniques</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>exportExcelServlet</servlet-name>
  		<url-pattern>/professor/exportExcelServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
  		<servlet-name>usuariosServlet</servlet-name>
  		<url-pattern>/login/usuarios</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>alunosDemandaServlet</servlet-name>
  		<url-pattern>/trieda/alunosDemanda</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>alunosServlet</servlet-name>
  		<url-pattern>/trieda/alunos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>disponibilidadesServlet</servlet-name>
  		<url-pattern>/trieda/disponibilidades</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>progressReportServlet</servlet-name>
  		<url-pattern>/trieda/progressReport</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
  		<servlet-name>instituicaoEnsinoServlet</servlet-name>
  		<url-pattern>/trieda/instituicaoEnsino</url-pattern>
	</servlet-mapping>
		<welcome-file-list>
			<welcome-file>index.html</welcome-file>
			<welcome-file>index.htm</welcome-file>
			<welcome-file>index.jsp</welcome-file>
			<welcome-file>default.html</welcome-file>
			<welcome-file>default.htm</welcome-file>
			<welcome-file>default.jsp</welcome-file>
		</welcome-file-list>

</web-app>
