<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>TRIEDA</display-name>

	<servlet>
		<servlet-name>unidadesServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.UnidadesServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>salasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.SalasServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>cursosServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.CursosServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>disciplinasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.DisciplinasServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>matrizesCurricularesServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.MatrizesCurricularesServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>cursosCampiServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.CursosCampiServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>professoresServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.ProfessoresServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>demandasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.DemandasServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>divisoesCreditosServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.DivisoesCreditosServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>periodosAulasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.PeriodosAulasServiceImpl</servlet-class>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>unidadesServlet</servlet-name>
		<url-pattern>/trieda/unidades</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>salasServlet</servlet-name>
		<url-pattern>/trieda/salas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cursosServlet</servlet-name>
		<url-pattern>/trieda/cursos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>disciplinasServlet</servlet-name>
		<url-pattern>/trieda/disciplinas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>matrizesCurricularesServlet</servlet-name>
		<url-pattern>/trieda/matrizesCurriculares</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cursosCampiServlet</servlet-name>
		<url-pattern>/trieda/cursosCampi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>professoresServlet</servlet-name>
		<url-pattern>/trieda/professores</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>demandasServlet</servlet-name>
		<url-pattern>/trieda/demandas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>divisoesCreditosServlet</servlet-name>
		<url-pattern>/trieda/divisoesCreditos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>periodosAulasServlet</servlet-name>
		<url-pattern>/trieda/periodosAulas</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>trieda.html</welcome-file>
	</welcome-file-list>
	
</web-app>
