<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>TRIEDA</display-name>

	<servlet>
		<servlet-name>unidadesServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.UnidadesServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>salasServlet</servlet-name>
		<servlet-class>com.gapso.web.trieda.server.SalasServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>unidadesServlet</servlet-name>
		<url-pattern>/trieda/unidades</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>salasServlet</servlet-name>
		<url-pattern>/trieda/salas</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
