/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.borderBottom {
	border-bottom: 1px solid #CCD;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

#loading {
  position: absolute;
  left: 45%;
  top: 40%;
  margin-left: -45px;
  padding: 2px;
  z-index: 20001;
  height: auto;
  border: 1px solid #ccc;
}

#loading a {
  color: #225588;
}

#loading .loading-indicator {
  background: white;
  color: #444;
  font: bold 13px tahoma, arial, helvetica;
  padding: 10px;
  margin: 0;
  height: auto;
}

#loading .loading-indicator img {
  margin-right:8px;
  float:left;
  vertical-align:top;
}

#loading-msg {
  font: normal 10px arial, tahoma, sans-serif;
}

.ext-el-mask-msg.loading div {
	padding-left: 30px;
	background-image: url('images/ajax16.gif');
	background-position: 5px 4px;
	background-repeat: no-repeat;
}

.toggle-image-button .x-btn-text {
    cursor: pointer !important;
    cursor: hand !important;
    border: none !important;
    /* Disable the button-style */
    background-color: transparent !important;
    background:none !important;
    background-image:none !important;
    padding: 0px !important;
    color: #4784C3 !important;
    text-decoration: none !important;
}

 /* remove images */
.toggle-image-button .x-btn-tl,
.toggle-image-button .x-btn-tr,
.toggle-image-button .x-btn-tc,
.toggle-image-button .x-btn-ml,
.toggle-image-button .x-btn-mr,
.toggle-image-button .x-btn-mc,
.toggle-image-button .x-btn-bl,
.toggle-image-button .x-btn-br,
.toggle-image-button .x-btn-bc {
    background-image: none !important;
}

/* remove little dots in FF */
.toggle-image-button .x-btn-tl i,
.toggle-image-button .x-btn-tr i,
.toggle-image-button .x-btn-tc i,
.toggle-image-button .x-btn-ml i,
.toggle-image-button .x-btn-mr i,
.toggle-image-button .x-btn-mc i,
.toggle-image-button .x-btn-bl i,
.toggle-image-button .x-btn-br i,
.toggle-image-button .x-btn-bc i {
    font-size: 0px;
}

table.cw-FlexTable td {
	text-align: center;
}	
table.cw-FlexTable td.cw-FlexTable-content {
	padding:0 10px 0 10px;
}

.SemanaLetivaGrid .x-grid3-row {
	border: 0;
}
.SemanaLetivaGrid td.x-grid3-cell {
	vertical-align: middle;
	padding-left: 0;
	padding-right: 0;
}
.SemanaLetivaGrid .x-grid3-row-selected {
	background-color: #FFF !important;
	border-color: #FFF;
}

.x-grid3-summary-row {
	font: 11px arial,tahoma,helvetica,sans-serif;
	background:none repeat scroll 0 50% #F1F2F4;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	color:#333333;
}

.x-grid3-summary-row .x-grid3-cell-inner {
	font-weight:bold;
	padding-bottom:4px;
}

.GradeHorariaGrid .x-grid3-col-creditos {
	font-size: 15px;
	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.GradeHorariaGrid .x-grid3-col-horario,
.GradeHorariaGrid .x-grid3-col-display {
	font-size: 12px;
	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.GradeHorariaGrid .x-grid3-row {
}
.GradeHorariaGrid .x-grid3-cell-inner {
	height: 74px;
	width: 80px;
	overflow: visible;
}
.GradeHorariaGrid.VisaoSala .x-grid3-cell-inner {
	height: 1px;
}
.GradeHorariaGrid .x-grid3-row-table .horario {
	position: absolute;
	/* background-color: #D2E1F0; */
	border: 1px solid #8DB2E3;
	border-radius: 3px;
	webkit-border-radius: 3px;
	width: 86px;
}

.GradeHorariaGrid .x-grid3-row-table .horarioDestaque {
	border: solid red 2px;
	z-index: 1;
}

.GradeHorariaGrid .x-grid3-row-table .horario.multi {
	background-color: #FFC273;
}
.GradeHorariaGrid .x-grid3-row-table .drag .horario {
	left: auto;
	top: auto;
}
.GradeHorariaGrid .x-grid3-row-selected {
	background-color:#FFFFFF !important;
	border-color:#FFFFFF #EDEDED #EDEDED;
	border-style:solid;
	border-width:1px;
}

.GradeHorariaGrid .x-grid3-row-table .horario.c1  { top:    7px; _top:    7px; }
.GradeHorariaGrid .x-grid3-row-table .horario.c2  { top:   87px; _top:   81px; }
.GradeHorariaGrid .x-grid3-row-table .horario.c3  { top:  167px; _top:  155px; }
.GradeHorariaGrid .x-grid3-row-table .horario.c4  { top:  247px; _top:  229px; }
.GradeHorariaGrid .x-grid3-row-table .horario.c5  { top:  327px; _top:  303px; }
.GradeHorariaGrid .x-grid3-row-table .horario.c6  { top:  407px; _top:  377px; }
.GradeHorariaGrid .x-grid3-row-table .horario.c7  { top:  487px; _top:  451px; }
.GradeHorariaGrid .x-grid3-row-table .horario.c8  { top:  567px; _top:  525px; }
.GradeHorariaGrid .x-grid3-row-table .horario.c9  { top:  647px; _top:  599px; }
.GradeHorariaGrid .x-grid3-row-table .horario.c10 { top:  727px; _top:  673px; }
.GradeHorariaGrid .x-grid3-row-table .horario.c11 { top:  807px; _top:  747px; }
.GradeHorariaGrid .x-grid3-row-table .horario.c12 { top:  887px; _top:  821px; }
.GradeHorariaGrid .x-grid3-row-table .horario.c13 { top:  967px; _top:  895px; }
.GradeHorariaGrid .x-grid3-row-table .horario.c14 { top: 1047px; _top:  969px; }
.GradeHorariaGrid .x-grid3-row-table .horario.c15 { top: 1127px; _top: 1043px; }

/*
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria1  { top: 1px; _top: 1px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria2  { top: 23px; _top: 23px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria3  { top: 45px; _top: 45px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria4  { top: 67px; _top: 67px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria5  { top: 89px; _top: 89px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria6  { top: 111px; _top: 111px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria7  { top: 133px; _top: 133px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria8  { top: 155px; _top: 155px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria9  { top: 177px; _top: 177px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria10  { top: 199px; _top: 199px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria11  { top: 221px; _top: 221px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria12  { top: 243px; _top: 243px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria13  { top: 265px; _top: 265px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria14  { top: 287px; _top: 287px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria15  { top: 309px; _top: 309px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria16  { top: 331px; _top: 331px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria17  { top: 353px; _top: 353px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria18  { top: 375px; _top: 375px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria19  { top: 397px; _top: 397px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria20  { top: 419px; _top: 419px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria21  { top: 441px; _top: 441px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria22  { top: 463px; _top: 463px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria23  { top: 485px; _top: 485px; }
.GradeHorariaGrid .x-grid3-row-table .horario.cargaHoraria24  { top: 507px; _top: 507px; }

.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria1 { height: 19px; _height: 19px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria2 { height: 41px; _height: 41px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria3 { height: 63px; _height: 63px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria4 { height: 85px; _height: 85px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria5 { height: 107px; _height: 107px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria6 { height: 129px; _height: 129px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria7 { height: 151px; _height: 151px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria8 { height: 173px; _height: 173px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria9 { height: 195px; _height: 195px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria10 { height: 217px; _height: 217px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria11 { height: 239px; _height: 239px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria12 { height: 261px; _height: 261px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria13 { height: 283px; _height: 283px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria14 { height: 305px; _height: 305px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria15 { height: 327px; _height: 327px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria16 { height: 349px; _height: 349px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria17 { height: 371px; _height: 371px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria18 { height: 393px; _height: 393px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria19 { height: 415px; _height: 415px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria20 { height: 437px; _height: 437px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria21 { height: 459px; _height: 459px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria22 { height: 481px; _height: 481px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria23 { height: 503px; _height: 503px; }
.GradeHorariaGrid .x-grid3-row-table .horario.totalCargaHoraria24 { height: 525px; _height: 525px; }*/


.GradeHorariaGrid .x-grid3-row-table .horario.tc1  { height:  66px; _height:  60px; }
.GradeHorariaGrid .x-grid3-row-table .horario.tc2  { height: 146px; _height: 134px; }
.GradeHorariaGrid .x-grid3-row-table .horario.tc3  { height: 226px; _height: 208px; }
.GradeHorariaGrid .x-grid3-row-table .horario.tc4  { height: 306px; _height: 280px; }
.GradeHorariaGrid .x-grid3-row-table .horario.tc5  { height: 386px; _height: 355px; }
.GradeHorariaGrid .x-grid3-row-table .horario.tc6  { height: 466px; _height: 430px; }

.GradeHorariaGrid .x-grid3-row-table .horario.s1 { left:     7px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s2 { left:   107px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s3 { left:   207px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s4 { left:   307px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s5 { left:   407px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s6 { left:   507px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s7 { left:   607px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s8 { left:   707px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s9 { left:   807px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s10 { left:  907px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s11 { left: 1007px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s12 { left: 1107px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s13 { left: 1207px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s14 { left: 1307px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s15 { left: 1407px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s16 { left: 1507px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s17 { left: 1607px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s18 { left: 1707px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s19 { left: 1807px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s20 { left: 1907px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s21 { left: 2007px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s22 { left: 2107px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s23 { left: 2207px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s24 { left: 2307px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s25 { left: 2407px; }
.GradeHorariaGrid .x-grid3-row-table .horario.s26 { left: 2507px; }


.errorList .x-panel-body {
	padding: 10px;
}

.cenarioName .x-component {
	color: #15428b !important;
	font-weight: bold !important;
	font-size: 13px;
	font-family: tahoma,arial,verdana,sans-serif !important;
	white-space: normal;
}

.cenarioNameSmall .x-component {
	color: #15428b !important;
	font-weight: bold !important;
	font-size: 11px;
	font-family: tahoma,arial,verdana,sans-serif !important;
	white-space: normal;
}

.painelIndicadores .x-component {
	color: #15428b !important;
	font-weight: bold !important;
	font-size: 11px;
	font-family: tahoma,arial,verdana,sans-serif !important;
	white-space: nowrap;
}

.x-btn-text-icon .x-btn-icon-medium-left .x-btn-text {
    padding-left: 18px;
}

.exportExcelForm .x-form-label-left .x-form-item-label {
	text-align: left;
	white-space: nowrap;
	width: 160px !important;
}

.boxLabel .x-form-cb-label  {
	white-space: normal;
	left: 0px !important;
	top: 5px !important;
}

.boxLabel .x-form-checkbox  {
	top: 6px !important;
}

.x-component .associarSalaGrupoLeftLabel {
	font-size: 10px;
	color: gray;
	width: 95px !important;
}

.x-component .associarSalaGrupoCenterLabel {
	font-size: 10px;
	color: gray;
	width: 240px !important;
}

.x-component .associarSalaGrupoRightLabel {
	font-size: 10px;
	color: gray;
	width: 240px !important;
}

.alocacaoManualDemanda * {
	font-size: 11px !important;
	margin-bottom: 0px !important;
}

.gradeVazia:hover {
	background-color: #98c5f5;
}

.gradeVazia:hover::before{
    content: 'Inserir aula usando clique duplo';
	white-space: pre-wrap;
}


.corDisciplina0 { background-color: #FFDAAF; }
.corDisciplina1 { background-color: #D2E1F0; }
.corDisciplina2 { background-color: #CCCCFF; }
.corDisciplina3 { background-color: #AFFFD0; }
.corDisciplina4 { background-color: #F7FFAF; }
.corDisciplina5 { background-color: #FFDAAF; }
.corDisciplina6 { background-color: #FFAFC1; }
.corDisciplina7 { background-color: #F4AFFF; }
.corDisciplina8 { background-color: #D1FFAF; }
.corDisciplina9 { background-color: #C3DFD1; }
.corDisciplina10 { background-color: #D0CFFF; }
.corDisciplina11 { background-color: #CFEEFF; }
.corDisciplina12 { background-color: #C9FF8F; }
.corDisciplina13 { background-color: #ECFF9F; }
.corDisciplina14 { background-color: #EFEAD1; }